<style>
	.c-accounts-container {
		padding: 15px;
	}
</style>

<div class="c-accounts-container">
	
	<div class="slds-grid slds-m-bottom--medium">
		<div class="slds-col">
			<div class="slds-text-heading--medium" style="font-size: 1.5rem;">
				Accounts
			</div>
		</div>
		<div class="slds-col  slds-text-align--right">
			<button class="slds-button slds-button--neutral" (click)="getAccounts()">
				<svg class="slds-button__icon slds-button__icon" aria-hidden="true">
					<use [attr.xlink:href]="appConfig.sldsAssets + '/icons/utility-sprite/svg/symbols.svg#refresh'"></use>
				</svg>
			</button>
		</div>
	</div>

	<slds-datatable [items]="accounts" [sObjectType]="'Account'" [sObjectFields]="['Name', 'CreatedDate']">
		<template #actions let-item="item">
			<button class="slds-button slds-button--neutral" (click)="editAccount(item)">Edit</button>
			<button class="slds-button slds-button--neutral" (click)="deleteAccount(item)">Delete</button>
		</template>
	</slds-datatable>
	
</div>