<style>

</style>

<table *ngIf="sObjectFieldsMeta" class="slds-table slds-table--bordered slds-table--cell-buffer">
	<thead>
		<tr class="slds-text-title--caps">
			<th *ngFor="let f of sObjectFieldsMeta" scope="col">
				<div class="slds-truncate" title="{{f.label}}">{{f.label}}</div>
			</th>
			<th scope="col" class="slds-text-align--right">
				<div class="slds-truncate" title="Actions">Actions</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td *ngFor="let f of sObjectFieldsMeta" data-label="Account Name">
				<div class="slds-truncate" title="{{item[f.name]}}">
					<slds-sobject-field 
						[value]="item[f.name]" 
						[sObjectType]="sObjectType" 
						[sObjectField]="f.name"
						[editable]="false">
					</slds-sobject-field>
				</div>
			</td>
			<td data-label="Actions" class="slds-text-align--right">
				<template 
					[ngTemplateOutlet]="actionsTemplate" 
					[ngOutletContext]="{item: item}">
				</template>
			</td>
		</tr>
	</tbody>
</table>