<style>
	.c-accounts-container {
		padding: 15px;
	}
</style>

<div class="c-accounts-container">
	<div class="slds-grid slds-m-bottom--medium">
		<div class="slds-col">
			<div class="slds-text-heading--medium" style="font-size: 1.5rem;">
				Lightning Datatable for SObject (Test_Object__c)
			</div>
		</div>
		<div class="slds-col  slds-text-align--right">
			<button class="slds-button slds-button--neutral" (click)="getAccounts()">
				<svg class="slds-button__icon slds-button__icon" aria-hidden="true">
					<use [attr.xlink:href]="appConfig.sldsAssets + '/icons/utility-sprite/svg/symbols.svg#refresh'"></use>
				</svg>
			</button>
		</div>
	</div>

	<slds-datatable 
		[items]="records" 
		[sObjectType]="'Test_Object__c'" 
		[sObjectFields]="testObjectFields">
		<template #actions let-item="item">
			<button class="slds-button slds-button--neutral" (click)="editRecord(item)">Edit</button>
			<button class="slds-button slds-button--neutral" (click)="deleteRecord(item)">Delete</button>
		</template>
	</slds-datatable>

	<slds-modal #editRecordModal [large]="false" [hideHeader]="false" [hideFooter]="false" >
		<div slds-modal-title>
			<h2 class="slds-text-heading--medium">
				Edit Record
			</h2>
		</div>
		<div slds-modal-content>
			<slds-form
				*ngIf="recordToEdit"
				[sObject]="recordToEdit"
				[sObjectType]="'Test_Object__c'"
				[sObjectFields]="testObjectFields"
				(onFormInit)="recordEditFormInit($event)"
			></slds-form>
			<hr />
			{{recordToEdit | json}}
		</div>
		<div slds-modal-footer>
			<button class="slds-button slds-button--neutral" (click)="saveAccount(accountToEdit)">Save</button>
			<button class="slds-button slds-button--neutral" (click)="cancelAccountEditing()">Cancel</button>
		</div>
	</slds-modal>

</div>