<style>
	header {
		background: #2B3643;
		padding: 15px;
		color:  #f0f0f0;
	}
	header > div {
		display: inline-block;
	}
	ul.c-menu {
		background-color: #364150;
	}
	ul.c-menu li {
		display: inline-block;
	}
	ul.c-menu li:hover {
		background-color: #3E4B5C;
	}
	ul.c-menu li a {
		color:  #f0f0f0;
		display: inline-block;
		padding: 15px 20px
	}
	ul.c-menu li a, ul.c-menu li a:hover {
		text-decoration: none;
	}
	.c-menu-active {
		background-color: #3E4B5C;
	}
</style>

<!-- for inspiration http://keenthemes.com/preview/metronic/theme/admin_1/index.html -->

<div class="slds">

	<header>
		<div class="slds-text-heading--large">
			<span style="color: #f0f0f0;">NG2-LIGHTNING</span>
			<span style="color: #12B9D7">DEMO</span>
		</div>
	</header>
	<ul class="c-menu">
		<li><a routerLink="/home" routerLinkActive="c-menu-item-active">Home</a></li>
		<li><a routerLink="/accounts" routerLinkActive="c-menu-item-active">Datatable</a></li>
		<li><a routerLink="/full" routerLinkActive="c-menu-item-active">Full Objects</a></li>
	</ul>
	<div>
		<slds-notifications></slds-notifications>
	</div>
	<div class="c-main-container">
		<router-outlet></router-outlet>
	</div>
	
	<slds-spinner></slds-spinner>

</div>