<div *ngIf="sObjectMetadata && sObject">
	<form #frm="ngForm" class="slds-form--stacked">
		<div *ngFor="let field of sObjectFieldsMeta" class="slds-form-element">
			<label class="slds-form-element__label" [for]="field.name">{{field.label}}</label>
			<div class="slds-form-element__control">
				<slds-sobject-field
					[(ngModel)]="sObject[field.name]"
					[sObjectField]="field.name"
					[sObjectType]="sObjectType"
					[editable]="true"
					[name]="field.name"
					required="true"
				></slds-sobject-field>
			</div>
		</div>
	</form>
</div>